.services-container {
  background-color: #505050;
  color: #FFFFFF;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.services-header {
  border-bottom: 3px solid #41635C;
  margin: 0% 0% 5% 0%;
  font-weight: 700;
}

.services-paragraph {
  margin: 0% 0% 5% 0%;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: 500;
  text-align: center;
}

/* FIRST */

.services-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  justify-items: center;
  align-items: center;
}

.services-card {
  background-color: #f5f5f5;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 570px;
  border-radius: 10px;
  position: relative;
}

.services-card-popular {
  background-color: #f5f5f5;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 570px;
  border-radius: 10px;
  position: relative;
}

.services-popular-sign {
  background-color: #DFAB47;
  text-align: center;
  padding: 1%;
  border-radius: 5px;
  font-weight: 600;
  color: rgb(248, 237, 237);
  padding-left: 10%;
  padding-right: 10%;
  margin-top: -20px;
}

.start-button {
  background: linear-gradient(101.25deg, #41635C 0%, #528177 93.56%);
  border-radius: 40px;
  border: none;
  padding: 1% 5% 1% 5%;
}

.services-card-popular-a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 10%;
  padding-top: 2%;
  border-bottom: 2px solid #41635C;
  width: 100%;
}

.services-card-a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 10%;
  padding-top: 10%;
  border-bottom: 2px solid #41635C;
  width: 100%;
}

.services-card-popular-a span {
  color: #41635C;
}

.services-card-popular-a h4 {
  font-weight: 700;
  color: #505050;
}

.services-card-a span {
  color: #41635C;
}

.services-card-a h4 {
  font-weight: 700;
  color: #505050;
}

.services-card-b {
  font-size: small;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services-card-box {
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0% 2% 0% 2%;
}

.services-card-box img {
  width: 35px;
  align-self: center;
}

.services-card-box p {
  padding-top: 4%;
}

.services-cards-small {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4em;
  justify-items: center;
  align-items: center;
}

.services-card-small {
  background-color: #f5f5f5;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
  padding: 3%;
  border-radius: 10px;
  text-align: center;
}

.services-card-small-paragraph {
  width: 450px;
  height: 100px;
}

.services-card-small h5 {
  border-bottom: 3px solid #41635C;
  margin-bottom: 6%;
}

.book-button {
  background: linear-gradient(101.25deg, #41635C 0%, #528177 93.56%);
  border-radius: 40px;
  border: none;
  padding: 1% 10% 1% 10%;
}

.services-bigger {
  width: 400px;
  height: 620px;
  font-size: large;
}

.services-bigger h5 {
  font-size: 35px;
}

/* SECOND */

.services-partner-header {
  border-bottom: 3px solid #41635C;
  margin: 10% 0% 5% 0%;
}

.services-second {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2em;
  align-items: center;
  margin-bottom: 5%;
}

.services-second img {
  width: 110px;
}

/* THIRD */

.services-third {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 3em;
}

.services-third-a h3 {
  font-weight: 600;
}

.services-third-a p {
  color: #558f84;
}

.services-third-item {
  width: 500px;
}



@media (max-width: 1150px) {
  .services-cards {
    grid-template-columns: 100%;
    gap: 5em;
  }

  .services-card {
    width: 90%;
    height: 100%;
  }

  .services-card-popular {
    width: 90%;
    height: 100%;
  }

  .services-card-popular-a {
    padding-left: 1%;
    padding-right: 1%;
  }

  .services-card-b {
    font-size: medium;
    height: 100%;
  }

  .services-card-box img {
    width: 45px;
  }

  .services-card-box p {
    font-size: large;
  }

  .services-cards-small {
    grid-template-columns: 100%;
    gap: 4em;
  }

  .services-card-small {
    width: 80%;
  }

  .services-card-small-paragraph {
    width: 100%;
    height: 100%;
  }

  .services-header {
    margin: 5% 0% 10% 0%;
    font-size: xx-large;
  }

  .services-second {
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
  }

  .services-third {
    margin-top: 10%;
    grid-template-columns: repeat(1, 1fr);
    gap: 3em;
  }

}

@media (max-width: 530px) {

  .services-second {
    grid-template-columns: repeat(2, 1fr);
  }

  .services-third {
    padding: 3%;
  }

  .services-third-item {
    width: 100%;
  }
}