.services-container {
  background-color: #505050;
  color: #FFFFFF;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.services-header {
  border-bottom: 3px solid #41635C;
  margin: 0% 0% 5% 0%;
}

/* FIRST */

.services-first {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.services-first-child {
  background-color: #f5f5f5;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
  width: 320px;
  height: 680px;
  font-size: small;
  border-radius: 10px;
  position: relative;
}

.services-first-popular {
  position: absolute;
  background-color: #DFAB47;
  text-align: center;
  padding: 1%;
  border-radius: 5px;
  font-weight: 600;
  color: rgb(248, 237, 237);
  width: 180px;
  top: -15px;
  left: 70px;
}

.start-button {
  background: linear-gradient(101.25deg, #41635C 0%, #528177 93.56%);
  border-radius: 40px;
  border: none;
  padding: 1% 5% 1% 5%;
}

.services-first-child-b {
  margin-top: 5%;
  font-size: small;
  height: 450px;
}

.services-first-child-a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6% 0% 6% 0%;
  border-bottom: 2px solid #41635C;
  width: 100%;
  text-align: center;
}

.services-first-child-a span {
  color: #41635C;
  font-size: x-large;
  font-weight: 600;
}

.services-first-child-a h5 {
  font-size: large;
  font-weight: 600;
}


.services-first-child-box {
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 2%;
}

.services-first-child-box img {
  width: 40px;
}

.services-first-child-box p {
  align-self: flex-end;
}

.services-first-small-child {
  background-color: #f5f5f5;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
  padding: 3%;
  font-size: small;
  border-radius: 10px;
}

.book-button {
  background: linear-gradient(101.25deg, #41635C 0%, #528177 93.56%);
  border-radius: 40px;
  border: none;
  padding: 1% 10% 1% 10%;
}


@media (max-width: 1215px) {
  .services-first-child {
    width: 280px;
    height: 650px;
  }

  .services-first-popular {
    width: 150px;
    top: -15px;
    left: 70px;
  }
}

@media (max-width: 1060px) {
  .services-first-child {
    width: 440px;
    height: 680px;
  }

  .services-first-popular {
    top: -20px;
    left: 150px;
  }

  .services-first-small-child {
    margin: 2%;
    padding: 3%;
    width: 440px;
    font-size: small;
    border-radius: 10px;
  }

}

@media (max-width: 530px) {
  .services-first-child {
    width: 340px;
    height: 640px;
  }

  .services-first-popular {
    top: -15px;
    left: 90px;
  }

  .services-first-small-child {
    width: 340px;
  }

}

@media (max-width: 400px) {

  .services-header {
    border-bottom: 3px solid #41635C;
    margin: 5% 0% 10% 0%;
  }


  .services-first-child {
    width: 300px;
    height: 650px;
  }

  .services-first-popular {
    top: -15px;
    left: 75px;
  }

  .services-first-small-child {
    width: 300px;
  }

  .services-first-child-box img {
    width: 30px;
  }
}