.about-container {
  background-color: #505050;
  color: #FFFFFF;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif
}

/* FIRST */
.about-first {
  position: relative;
  display: grid;
  grid-template-rows: 200px 1fr 100px 100px;
  justify-items: center;
  align-items: center;
}

.about-first h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.about-first-img {
  width: 250px;
  position: absolute;
  top: -20px;
  left: -50px;
  right: 0;
}

.about-first-paragraph {
  padding: 0% 25% 0% 25%;
  text-align: center;
  line-height: 30px;
}

.get-in-touch-button {
  background: linear-gradient(101.25deg, #41635C 0%, #528177 93.56%);
  border-radius: 30px;
  border: none;
}

.about-overflow-txt {
  font-size: 100px;
  font-weight: 600;
  color: #686666;
  position: absolute;
  bottom: -70px;
  word-wrap: break-word;
}

.about-space {
  background-color: rgb(122, 120, 120);
  height: 25px;
}

/* SECOND */
.about-second {
  display: grid;
  grid-template-columns: 40% 60%;
  justify-items: center;
  align-items: center;
  padding: 5%;
}

.about-second p {
  line-height: 30px;
}

.about-second h3 {
  text-align: center;
  border-bottom: 3px solid #41635C;
  padding-bottom: 2%;
}

.about-second h5 {
  margin-top: 5%;
  text-align: center;
}


.about-second img {
  width: 500px;
  padding: 5%;
}

/* THIRD */
.about-third {
  background-color: #5C5A5A;
  display: grid;
  grid-template-rows: 30% 50%;
  justify-items: center;
  align-items: center;
  text-align: center;
  gap: 2em;
  padding: 5%;
}

.about-third-c {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2em;
}

.about-third-c-card {
  display: grid;
  grid-template-rows: 80% 20%;
  justify-items: center;
  align-items: center;

}

.about-third-c-card img {
  height: 50px;
}

.about-third-c-card p {
  margin-top: 15%;
  text-align: center;
}

/* FORTH */

.about-forth {
  display: grid;
  grid-template-columns: 40% 60%;
  justify-items: center;
  align-items: center;
  padding: 3%;
  position: relative;
}


.about-forth h3 {
  text-align: center;
  border-bottom: 3px solid #41635C;
  padding-bottom: 2%;
}


.about-forth img {
  width: 500px;
  padding: 5%;
}


/* Fifth */
.about-fifth {
  display: grid;
  grid-template-columns: 30% 70%;
  justify-items: center;
  align-items: center;
  margin-top: -40px;
}

.about-fifth img {
  width: 330px;
}

.about-fifth-b {
  padding: 15%;
}



@media (max-width: 1045px) {
  .about-first {
    grid-template-rows: 200px 1fr 100px 90px;
  }

  .about-overflow-txt {
    bottom: -70px;
    font-size: 80px;
  }

  .about-first-paragraph {
    padding: 0% 15% 0% 15%;
  }

  .about-forth {
    grid-template-columns: 100%;
    padding: 0% 10% 10% 10%;
  }

  .about-forth img {
    width: 400px;
    padding: 3%;
  }

  .about-fifth {
    grid-template-columns: 100%;
    margin-top: 0px;
  }

  .about-fifth img {
    width: 300px;
  }

  .about-fifth-b {
    padding: 0% 15% 5% 15%;
  }

}

@media (max-width: 780px) {
  .about-overflow-txt {
    bottom: -60px;
    font-size: 70px;
  }


  .about-second {
    grid-template-columns: 100%;
  }

  .about-second img {
    width: 300px;
    padding: 0%;
  }

  .about-forth-overflow-txt {
    font-size: 100px;
    bottom: -100px;
    right: 0;
    left: -100px;
  }

  .about-forth-space {
    background-color: rgb(122, 120, 120);
    height: 50px;
  }
}

@media (max-width: 660px) {
  .about-overflow-txt {
    bottom: -60px;
    font-size: 60px;
  }

  .about-third-c {
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }

  .about-third {
    grid-template-rows: 30% 50%;
  }

  .about-third-c-card img {
    height: 40px;
  }
}

@media (max-width: 560px) {
  .about-first {
    grid-template-rows: 200px 1fr 100px 70px;
  }

  .about-overflow-txt {
    bottom: -50px;
    font-size: 50px;
  }

  .about-space {
    height: 20px;
  }

  .about-first-paragraph {
    padding: 0% 5% 0% 5%;
  }

  .about-forth img {
    width: 300px;
    padding: 3%;
  }

  .about-forth-overflow-txt {
    font-size: 80px;
    bottom: -80px;
    right: 0;
    left: -100px;
  }

  .about-forth-space {
    background-color: rgb(122, 120, 120);
    height: 30px;
  }

  .about-fifth img {
    width: 200px;
  }

  .about-fifth-b {
    padding: 0% 15% 5% 15%;
  }
}

@media (max-width: 450px) {

  .about-overflow-txt {
    bottom: -37px;
    font-size: 35px;
  }

  .about-space {
    height: 13px;
  }

  .about-third-c {
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
}

@media (max-width: 380px) {
  .about-overflow-txt {
    font-size: 35px;
  }
}