.about-container {
  background-color: #505050;
  color: #FFFFFF;
}

.about-first {
  display: grid;
  grid-template-rows: 200px 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.about-first-paragraph {
  padding: 0% 14% 0% 14%;
  text-align: center;
}