.home-container {
  background-color: #505050;
  display: grid;
  justify-items: center;
  justify-content: center;
  color: #FFFFFF;
  padding-bottom: 5%;
}

/* First */

.home-first {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  margin-bottom: 7%;
}

.home-first-a {
  padding: 5% 0% 0% 12%;
}

.home-header {
  font-family: 'Noto Sans JP', sans-serif;
  margin-bottom: 7%;
}

.home-header span {
  color: #EFCB68;
}

.home-title {
  font-weight: 600;
  padding-bottom: 1%;
  border-bottom: 2px solid #528177;
  margin-bottom: 5%;
  width: fit-content;
}

.home-first-b {
  display: grid;
  justify-items: center;
}

.main-image {
  padding-top: 13%;
  width: 100%;
}

.home-bullet-points {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 10% 90%;
  font-size: medium;
  font-weight: 600;
  margin-bottom: 2%;
}

.home-bullet-points img {
  width: 40px;
}

.home-bullet-points p {
  display: inline-block;
  margin: 2px;
}

.quote-button-main {
  padding-top: 1%;
}

.quote-button {
  background: linear-gradient(101.25deg, #41635C 0%, #528177 93.56%);
  border-radius: 40px;
  border: none;
  padding: 2% 5% 2% 5%;
}

/* Second */

.home-second {
  display: grid;
  justify-content: center;
  align-self: center;
  text-align: center;
  margin-bottom: 3%;
}

.home-second-header {
  font-family: 'Noto Sans JP', sans-serif;
  margin-bottom: 3%;
  font-size: 60px;
  font-weight: 600;
  padding: 0% 5% 0% 5%;
  background-image: linear-gradient(to bottom, #ffff, #528177);
  /* background-image: conic-gradient(#ffff, #528177); */
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.home-second-paragraph-mobile {
  display: none;
}

.home-second-paragraph {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #528177;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 50%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #528177;
  }
}

.home-second-image {
  width: 500px;
  margin-bottom: 10%;
}

/* Third */

.home-third-header {
  font-family: 'Noto Sans JP', sans-serif;
  margin-bottom: 5%;
  margin-top: 10%;
  letter-spacing: 1.2px;
  align-self: center;
  justify-self: center;
}

.home-third-header span {
  color: #2f9a85;
}

.home-third {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;
  padding: 0% 5% 0% 5%;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.home-third img {
  width: 80px;
  margin-bottom: 5%;
}

.home-third-title {
  font-weight: 700;
  font-size: large;
}

@media (max-width: 1000px) {

  /* First */
  .home-first {
    grid-template-columns: 1fr;
    margin-bottom: 5%;
  }

  .home-first-a {
    padding: 5% 5% 0% 5%;
  }

  .home-bullet-points {
    grid-template-columns: 8% 92%;
  }

  .home-first-b {
    display: none;
  }


  /* Second */

  .home-second {
    padding: 5%;
  }

  /* Third */

  .home-third {
    grid-template-columns: 1fr;
    padding: 0% 14% 0% 14%;
  }
}

@media (max-width: 820px) {
  .home-second-paragraph {
    display: none;
  }

  .home-second-paragraph-mobile {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
    border: 3px solid rgb(255, 255, 255);
    padding: 4%;
    border-radius: 40px;
  }

  .home-second-image {
    width: 300px;
    margin-bottom: 10%;
  }

}

@media (max-width: 560px) {

  .home-first {
    margin-bottom: 10%;
  }

  .home-bullet-points {
    grid-template-columns: 13% 87%;
    margin-bottom: 5%;
  }

  .home-title {
    font-weight: 500;
    padding-bottom: 1%;
    border-bottom: 2px solid #528177;
    margin-bottom: 5%;
    font-size: medium;
  }

  .home-bullet-points img {
    width: 30px;
  }

  .home-second-header {
    margin-bottom: 3%;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10%;
  }

  .home-second-paragraph-mobile {
    font-size: 17px;
    font-weight: 600;
    border: 2px solid rgb(255, 255, 255);
    padding: 4%;
    border-radius: 40px;
  }

  .home-third-header {
    margin: 30% 0% 15% 0%;
  }
}

@media (max-width: 400px) {
  .home-second-header {
    margin-bottom: 3%;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10%;
  }
}