.call-button {
  background: linear-gradient(101.25deg, #41635C 0%, #528177 93.56%);
  border-radius: 40px;
  border: none;
  font-weight: 600;
  font-size: 15px;
}

.logo-img {
  width: 60%;
}

.mv-button-right {
  margin-left: 90px;
  margin-right: 90px;
  border-bottom: none !important;
}

.mv-logo-right {
  margin-right: 70px;
}

.active {
  border-bottom: 1px solid #41635C;
}

.header-container {
  font-weight: 700;
  font-size: 17px;
}