.whyus-container {
  background-color: #505050;
  color: #FFFFFF;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.whyus-header-h4 {
  text-align: center;
  font-weight: 700;
}

.whyus-header-h5 {
  text-align: center;
  line-height: 30px;
  padding: 0% 10% 0% 10%;
}

/* FIRST */
.whyus-first {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  margin-top: 5%;
}

.whyus-first-child {
  display: grid;
  grid-template-rows: 200px 50px 150px;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.whyus-first-child img {
  height: 170px;
  margin-bottom: 10%;
}

.whyus-first-p {
  align-self: flex-start;
  margin-top: 5%;
}

/* SECOND */

.whyus-easy-header {
  border-bottom: 3px solid #41635C;
  margin: 8% 0% 5% 0%;
}

.whyus-second {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  padding: 5%;
}

.whyus-second-child {
  display: grid;
  grid-template-columns: 25% 75%;
}

.whyus-second-child-a {
  position: relative;
  top: 0;
  left: 0;
}

/* .whyus-second-child-b {} */

.whyus-second-child-a-img2 {
  width: 80px;
  position: relative;
  top: 0;
  left: 0;
}

.whyus-second-child-a-img1 {
  position: absolute;
  width: 35px;
  top: -20px;
  left: 25px;
}

/* THIRD */

.whyus-third {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding-top: 5%;
}

.whyus-third-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.whyus-third-child img {
  width: 120px;
}

.whyus-third-child-w {
  padding-bottom: 2%;
  border-bottom: 3px solid #41635C;
}

.whyus-third-child-box {
  display: flex;
  align-items: flex-start;
  font-size: small;
  overflow: hidden;
  white-space: nowrap;
}

.whyus-third-child-box img {
  width: 20px;
}

.whyus-third-child-p {
  font-size: smaller;
  overflow: hidden;
  white-space: nowrap;
}

.whyus-third-border {
  border-bottom: 2px white solid;
  height: 200px;
  width: 100px;
  transform: translateY(-50%);
  align-self: center;
  justify-self: center;
  margin-top: -100px;
}

@media (max-width: 1220px) {
  .whyus-third-border {
    width: 50px;
  }
}

@media (max-width: 1000px) {
  .whyus-first {
    grid-template-columns: repeat(2, 1fr);
    margin: 5%;
  }

  .whyus-first-child {
    margin: 5%;
  }

  .whyus-second {
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
    padding: 0%;
    padding-bottom: 10%;
  }

  .whyus-second-child {
    grid-template-columns: 20% 80%;
  }

  .whyus-second-child-a {
    align-self: center;
    justify-self: center;
  }

  .whyus-third-border {
    display: none;
  }

  .whyus-third {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 5%;
    gap: 2em;
  }
}

@media (max-width: 625px) {

  .whyus-header-h5 {
    line-height: 30px;
    padding: 0% 5% 0% 5%;
  }


  .whyus-first {
    grid-template-columns: repeat(1, 1fr);
    gap: 0em;
  }


  .whyus-first-child {
    margin: 0%;
  }

  .whyus-first-p {
    align-self: flex-start;
    margin-top: 0%;
  }

  .whyus-easy-header {
    margin: 8% 0% 15% 0%;
  }

  .whyus-second-child {
    grid-template-columns: 30% 70%;
    margin-bottom: 5%;
  }

  .whyus-third {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5%;
    gap: 1em;
  }
}

@media (max-width: 530px) {
  .whyus-third {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 5%;
    gap: 2em;
  }
}

@media (max-width: 400px) {

  .whyus-second-child-a-img2 {
    width: 70px;
  }

  .whyus-second-child-a-img1 {
    width: 25px;
    top: -15px;
    left: 24px;
  }
}