.whyus-header-h4 {
  margin-top: 80px;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 1.2px;
  text-align: center;
}

.whyus-header-h5 {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  padding: 0% 10% 0% 10%;
}

/* FIRST */
.whyus-first {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 1em;
  padding-top: 5%;
}

.whyus-first-child {
  border: none;
  text-align: center;
  background-color: #505050;
}

.whyus-first-child img {
  width: fit-content;
  height: 130px;
  margin-bottom: 10%;
  align-self: center;
}

/* SECOND */

.whyus-easy-header {
  border-bottom: 3px solid #41635c;
  margin: 8% 0% 5% 0%;
  padding-bottom: 1%;
  width: fit-content;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 1.2px;
}

.whyus-second {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  padding: 5%;
}

.whyus-second-child {
  display: grid;
  grid-template-columns: 25% 75%;
}

.whyus-fist-child-title {
  height: 60px;
}

.whyus-second-child-a {
  position: relative;
  top: 0;
  left: 0;
}

.whyus-second-child-a-img2 {
  width: 80px;
  position: relative;
  top: 0;
  left: 0;
}

.whyus-second-child-a-img1 {
  position: absolute;
  width: 35px;
  top: -20px;
  left: 25px;
}

/* THIRD */

.whyus-third-header {
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 1.2px;
  padding: 0% 10% 0% 10%;
  text-align: center;
}

.whyus-third {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 5% 10% 5% 10%;
}

.whyus-third-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.whyus-third-child img {
  width: 100px;
}

.whyus-third-child-w {
  padding-bottom: 7%;
  border-bottom: 3px solid #41635c;
}

.whyus-third-child-p {
  font-size: medium;
  overflow: hidden;
  white-space: nowrap;
}

.whyus-third-border {
  border-bottom: 2px white solid;
  height: 200px;
  width: 50px;
  transform: translateY(-50%);
  align-self: center;
  justify-self: center;
  margin-top: -70px;
}

/* FORTH */

.whyus-forth {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  padding: 2% 5% 0% 5%;
}

.whyus-forth-a {
  padding: 5% 5% 0% 5%;
  background-color: #41635c;
  box-shadow: 5px 10px 5px 5px #393535;
}

.whyus-forth-a h4 {
  padding-bottom: 5%;
}

.whyus-forth-b {
  display: flex;
  justify-content: center;
  align-items: center;
}

.whyus-forth-b img {
  width: 150px;
}

.whyus-forth-c {
  background-color: #656565;
  box-shadow: 5px 10px 5px 5px #393535;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.whyus-forth-c img {
  height: 100px;
}

@media (max-width: 1220px) {
  .whyus-third-border {
    width: 50px;
  }
}

@media (max-width: 1000px) {
  .whyus-first {
    grid-template-columns: repeat(2, 1fr);
    margin: 5%;
  }

  .whyus-second {
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
    padding-bottom: 10%;
  }

  .whyus-second-child {
    grid-template-columns: 20% 80%;
  }

  .whyus-second-child-a {
    align-self: center;
    justify-self: center;
  }

  .whyus-third-border {
    display: none;
  }

  .whyus-third {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 5%;
    gap: 2em;
  }
}

@media (max-width: 900px) {
  .whyus-first {
    grid-template-columns: repeat(1, 1fr);
  }

  .whyus-forth {
    grid-template-columns: 100%;
    gap: 2em;
  }

  .whyus-forth-a {
    padding: 5%;
    border-radius: 0%;
  }

  .whyus-forth-c {
    border-radius: 0%;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    padding: 5%;
  }
}

@media (max-width: 625px) {
  .whyus-header-h5 {
    line-height: 30px;
    padding: 0% 5% 0% 5%;
  }

  .whyus-first {
    grid-template-columns: repeat(1, 1fr);
    gap: 0em;
  }

  .whyus-first-child {
    margin: 5%;
    width: auto;
  }

  .whyus-first-child img {
    height: fit-content;
    width: 160px;
  }

  .whyus-first-p {
    align-self: flex-start;
    margin-top: 0%;
  }

  .whyus-easy-header {
    margin: 8% 0% 15% 0%;
  }

  .whyus-second-child {
    grid-template-columns: 30% 70%;
    margin-bottom: 5%;
  }

  .whyus-third {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5%;
    gap: 1em;
  }
}

@media (max-width: 530px) {
  .whyus-third {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 5%;
    gap: 2em;
  }

  .whyus-forth-b img {
    width: 100px;
  }
}

@media (max-width: 400px) {
  .whyus-second-child-a-img2 {
    width: 70px;
  }

  .whyus-second-child-a-img1 {
    width: 25px;
    top: -15px;
    left: 24px;
  }

  .whyus-forth-c img {
    height: 70px;
  }
}
