.footer-container {
  padding: 5% 5% 10% 5%;
  background-color: #F8F9FA;
}

.footer-container a {
  text-decoration: none;
  color: black;
}

.footer-container-first {
  display: grid;
  justify-items: center;
  text-align: center;
  align-items: center;
  margin-bottom: 3%;
}

.fotter-logo-img {
  width: 100px;
  margin-bottom: 2%;
}

.footer-container-second {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  justify-content: center;
  font-size: smaller;
  margin-bottom: 4%;
}

.footer-row {
  display: grid;
  gap: 6px;
  grid-template-rows: auto;
}

.footer-container-third {
  display: grid;
  justify-items: center;
  gap: 1rem;
  grid-template-rows: 1fr 1fr;
  font-size: smaller;
  margin-top: 10%;
}

.fotter-container-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.footer-container-third img {
  margin: 1%;
  width: 20px;
}

.fotter-container-phone {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

.fotter-container-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.g-txt {
  color: #41635C;
  font-weight: 600;
  margin-bottom: -1px;
}